In [1]:
from selenium import webdriver
from webdriver_manager.chrome import ChromeDriverManager
import os
import pandas as pd

import basic_functions as bf

def download_SwClass():
    path = os.getcwd()

    chromeOptions = webdriver.ChromeOptions()
    prefs = {'download.default_directory' : path}
    chromeOptions.add_experimental_option("prefs",prefs)
    chromeOptions.add_argument("--headless")

    browser = webdriver.Chrome(ChromeDriverManager().install(),options=chromeOptions)

    browser.get('http://www.swsindex.com/idx0530.aspx')
    element=browser.find_element_by_xpath('//*[@id="form1"]/div[3]/div/div[1]/div[1]/div[3]/table[2]/tbody/tr[2]/td/table/tbody/tr/td[3]/a')

    element.click()

    bf.download_wait(path, 60)

    browser.quit()
    
    df = pd.DataFrame(pd.read_html('SwClass.xls')[0])
    return df

[WDM] - Current google-chrome version is 86.0.4240
[WDM] - Get LATEST driver version for 86.0.4240
[WDM] - Driver [/home/zexin/.wdm/drivers/chromedriver/linux64/86.0.4240.22/chromedriver] found in cache

In [15]:
import pandas as pd
df = pd.DataFrame(pd.read_html('SwClass.xls')[0])

In [16]:
df

     行业名称    股票代码   股票名称                起始日期  结束日期
0      采掘     552   靖远煤电    2008/6/2 0:00:00   NaN
1      采掘     571  *ST大洲  2011/10/10 0:00:00   NaN
2      采掘     629   攀钢钒钛  2015/10/31 0:00:00   NaN
3      采掘     655   金岭矿业  2015/10/31 0:00:00   NaN
4      采掘     723   美锦能源    2008/6/2 0:00:00   NaN
..    ...     ...    ...                 ...   ...
335  电气设备  300360   炬华科技  2016/8/26 10:18:00   NaN
336  电气设备  300376    易事特  2015/10/16 0:00:00   NaN
337  电气设备  300393   中来股份  2015/10/16 0:00:00   NaN
338  电气设备  300407   凯发电气   2016/1/19 0:00:00   NaN
339  电气设备  300423    NaN                 NaN   NaN

[340 rows x 5 columns]

In [110]:
chromeOptions = webdriver.ChromeOptions()
prefs = {'download.default_directory' : ' '}
chromeOptions.add_experimental_option("prefs",prefs)

In [104]:
import requests

url = "http://www.....aspx?download=1"

file_name = "Data.csv"
u = requests.get(url)

In [105]:
url = 'http://www.swsindex.com/downloadfiles.aspx?swindexcode=SwClass&type=530&columnid=8892'
r = requests.get(url, allow_redirects=True)

In [108]:
r.content

b'\r\n\r\n<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">\r\n\r\n<html xmlns="http://www.w3.org/1999/xhtml" >\r\n<head><title>\r\n\t\xce\xde\xb1\xea\xcc\xe2\xd2\xb3\r\n</title><meta http-equiv="X-UA-Compatible" content="IE=EmulateIE7" /></head>\r\n<body>\r\n    <form name="form1" method="post" action="downloadfiles.aspx?swindexcode=SwClass&amp;type=530&amp;columnid=8892" id="form1">\r\n<input type="hidden" name="__VIEWSTATE" id="__VIEWSTATE" value="/wEPDwUKLTg2Njc2NjM3M2RkYpx7XSv5LutyuTrfYOcwp//guOY=" />\r\n\r\n<input type="hidden" name="__VIEWSTATEGENERATOR" id="__VIEWSTATEGENERATOR" value="1282D04F" />\r\n    <div >\r\n   \r\n    </div>\r\n    </form>\r\n</body>\r\n</html>\r\n'

In [ ]:
from bs4 import BeautifulSoup
import requests
 
url = 'http://www.swsindex.com/idx0530.aspx'
url_get = requests.get(url)
soup = BeautifulSoup(url_get.content, 'lxml')
col = soup.find('div', class_="column_main")
col_all = col.find_all('a')
for link in col_all:
   print(link.get('href')

In [107]:
import urllib
import urllib2

url = 'http://www.swsindex.com/downloadfiles.aspx?swindexcode=SwClass&type=530&columnid=8892'
values = {'name' : 'Michael Foord',
          'location' : 'Northampton',
          'language' : 'Python' }

data = urllib.urlencode(values)
req = urllib2.Request(url, data)
response = urllib2.urlopen(req)
the_page = response.read()

f = open('result.html', 'w')
f.write(the_page)
f.close()

ModuleNotFoundError: No module named 'urllib2'

In [73]:
import requests

url = 'http://www.swsindex.com/downloadfiles.aspx?swindexcode=%B4%AB%C3%BD&type=530&columnid=8892'

file_name = "Data.xls"
u = requests.get(url)

file_size = int(u.headers['content-length'])
print("Downloading: %s Bytes: %s",file_name, file_size)

with open(file_name, 'wb') as f:
    for chunk in u.iter_content(chunk_size=1024): 
        if chunk: # filter out keep-alive new chunks
            f.write(chunk)
            f.flush()
f.close()

Downloading: %s Bytes: %s Data.xls 701

In [56]:
from selenium import webdriver
from selenium.webdriver import ActionChains
driver = webdriver.Chrome()
driver.get(link)
elem = driver.find_element_by_css_selector('a[target="_blank"]')
actionChain = ActionChains(driver)
actionChain.context_click(elem).perform()

ModuleNotFoundError: No module named 'selenium'

In [52]:
import urllib
urllib.urlretrieve ("http://www.example.com/songs/mp3.mp3", "mp3.mp3")

TypeError: 'str' object is not callable

In [ ]:
http://www.swsindex.com/downloadfiles.aspx?swindexcode=%B4%AB%C3%BD&type=530&columnid=8892

In [7]:
import investpy
import pandas as pd

In [4]:
investpy.get_stock_countries()

['argentina',
 'brazil',
 'canada',
 'chile',
 'colombia',
 'costa rica',
 'jamaica',
 'mexico',
 'peru',
 'united states',
 'venezuela',
 'austria',
 'belgium',
 'bosnia',
 'bulgaria',
 'croatia',
 'cyprus',
 'czech republic',
 'denmark',
 'finland',
 'france',
 'germany',
 'greece',
 'hungary',
 'iceland',
 'ireland',
 'italy',
 'luxembourg',
 'malta',
 'montenegro',
 'netherlands',
 'norway',
 'poland',
 'portugal',
 'romania',
 'russia',
 'serbia',
 'slovakia',
 'slovenia',
 'spain',
 'sweden',
 'switzerland',
 'turkey',
 'ukraine',
 'united kingdom',
 'australia',
 'bangladesh',
 'china',
 'hong kong',
 'india',
 'indonesia',
 'japan',
 'kazakhstan',
 'malaysia',
 'mongolia',
 'new zealand',
 'pakistan',
 'philippines',
 'singapore',
 'south korea',
 'sri lanka',
 'taiwan',
 'thailand',
 'vietnam',
 'bahrain',
 'egypt',
 'iraq',
 'israel',
 'jordan',
 'kuwait',
 'lebanon',
 'oman',
 'palestine',
 'qatar',
 'saudi arabia',
 'dubai',
 'botswana',
 'ivory coast',
 'kenya',
 'malawi',
 'mauritius',
 'morocco',
 'namibia',
 'nigeria',
 'rwanda',
 'south africa',
 'tanzania',
 'tunisia',
 'uganda',
 'zambia',
 'zimbabwe']

In [8]:
pd.DataFrame(investpy.get_stocks_dict(country = 'China'))

,country,name,full_name,isin,currency,symbol
0,china,China Shenhua Energy SH,China Shenhua Energy Co,CNE100000767,CNY,601088
1,china,Bank of China A,Bank of China Ltd A,CNE000001N05,CNY,601988
2,china,Sinopec Shanghai A,Sinopec Shanghai Petrochemical Co Ltd Class A,CNE000000BB2,CNY,600688
3,china,China Petrol A,China Petroleum & Chemical Corp Class A,CNE0000018G1,CNY,600028
4,china,Zhongyuan Unio,Zhongyuan Unio,CNE000000545,CNY,600645
...,...,...,...,...,...,...
3334,china,Jade Bird Fire Alarm,Jade Bird Fire Alarm,CNE100003N68,CNY,002960
3335,china,Bear Electric,Bear Electric Appliance Co Ltd,CNE100003N27,CNY,002959
3336,china,Ruida,Ruida Futures,CNE100003NF1,CNY,002961
3337,china,W olf Photoelectric,W olf Photoelectric Technology Ltd,CNE100003ND6,CNY,002962
3338,china,Lucky Harvest,Lucky Harvest,,CNY,002965

In [12]:
investpy.get_stock_information('601088','China')

,Stock Symbol,Prev. Close,Todays Range,Revenue,Open,52 wk Range,EPS,Volume,Market Cap,Dividend (Yield),Average Vol. (3m),P/E Ratio,Beta,1-Year Change,Shares Outstanding,Next Earnings Date
0,601088,18.6,18.5 - 18.85,2.301300e+11,18.69,14.31 - 20.17,2.0,30665190.0,3.687500e+11,1.26 (6.77%),38221767.0,9.31,0.54,7.83%,1.988962e+10,19/03/2021

ValueError: ERR#0002: as_json argument can just be True or False, bool type.